.App {
  text-align: center;
  /* 
  padding: 0; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner{
  background-image: url('photo.jpg');
  background-repeat: no-repeat;
  height: 50vmin;
  background-size: cover;
  opacity: .7;
}

h1{
  font-size: 10vw;
  text-transform: uppercase;
  margin: 0;
  align-items: center;
}
